.btn-getstarted {
  text-decoration: none;
  padding: 8px 25px !important;
  background-color: #5fcf80 !important;
  color: #ffffff !important;
  border-radius: 50px !important;
  font-size: 15px !important;
}
.navbar {
  padding: 20px 95px !important;
}
.navbar-brand {
  padding: 0px 12px;
  font-size: 30px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #5fcf80 !important;
}
.navbar-nav {
  padding: 18px 15px !important;
  gap: 15px;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.navbar-nav .nav-link.active {
  color: #5fcf80 !important;
}
.navbar-nav .nav-link:hover {
  color: #5fcf80;
  transition: 0.4s;
}
/* Hero-section */
.hero {
  background-image: url(img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content h2 {
  margin: 0px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}
.hero-content {
  padding-bottom: 50px;
}
.hero-content p {
  font-size: 24px;
  margin: 10px 0px;
  color: #ffffff;
}
.hero-content .btn {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  margin-top: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: 0.4s;
}
.hero-content .btn:hover {
  background-color: #5fcf80;
  color: #ffffff;
}
/* Team section */

.team {
  margin-top: 60px;
}

.team-img img {
  width: 100%;
}

.team-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.team-content .itelic {
  font-style: italic;
  margin-bottom: 1rem;
  color: #444444;
}
.team-content ul {
  list-style-type: none;
  padding-left: 0;
}
.team-content ul li {
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #444444;
}

.team-content ul i {
  color: #5fcf80;
  margin-right: 10px;
}
.team .team-content .btn button {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: #5fcf80;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.team .team-content .btn button i {
  transition: 0.3s;
}

.team .team-content .btn button:hover {
  background-color: #78f79e;
}

.team .team-content .btn button:hover i {
  transform: translateX(5px);
}

/* Stats Section */
.stats {
  background-color: aliceblue;
  padding: 70px 0;
  margin-top: 70px;
}
.stats .stat-card {
  text-align: center;
}
.stats .stat-card h1 {
  color: #5fcf80;
  font-weight: 700;
}

.stats .stat-card p {
  margin-bottom: 0;
  color: gray;
  font-weight: 600;
}

/* Why section */
.why {
  margin-top: 60px;
  padding: 10px;
}

.why .why-content {
  background-color: #5fcf80;
  padding: 27px;
  color: #ffff;
}

.why .why-content h1 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 700;
}
.why .why-content p {
  margin-bottom: 30px;
  font-size: 16px;
}
.why .why-content .btn button {
  padding: 8px 40px 10px;
  border-radius: 50px;
  background-color: #72dd92;
  color: #ffffff;
  font-size: 16px;
  border: none;
  align-items: center;
}
.why .why-content .btn i {
  font-size: 12px;
}
.why .why-content .btn button:hover {
  background-color: #ffffff;
  color: #78f79e;
  transition: 0.7s;
}
.why .why-card {
  border: 1px solid #ede9e9;
  text-align: center;
  padding: 66px 30px;
  background-color: #ffffff;
}
.why .why-card i {
  color: #5fcf80;
  font-size: 32px;
  margin-bottom: 30px;
  border-radius: 50px;
  justify-content: center;
  width: 72px;
  height: 72px;
  transition: 0.3s;
  padding: 20px;
}
.why .why-card i:hover {
  color: #ffffff;
  background-color: #5fcf80;
}
.why .why-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #37423b;
}
.why .why-card p {
  font-size: 15px;
  color: #444444;
}

/* Features section */

.features {
  margin-top: 40px;
  padding: 2px 20px;
}
.features .features-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 22px;
  transition: 0.3s;
  border: 1px solid #e2dfdf;
  position: relative;
}
.features .features-item i {
  color: #ffbb2c;
  font-size: 32px;
  padding-right: 10px;
}
.features .features-item h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #37423b;
  font-family: "Raleway", sans-serif;
}
.features .features-item:hover {
  border-color: #5fcf80;
}

/* Courses-section  */

.courses-section {
  margin: 2px 78px 0px 75px;
  padding: 60px 0px;
}
.courses-section .courses-title {
  margin: 0px 20px 0px 25px;
  padding: 0px 12px 60px;
}
.courses-section .courses-title h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #aaa8a8;
  font-family: "Raleway", sans-serif;
}
.courses-section .courses-title p {
  color: #37423b;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.courses-section .courses-title {
  padding-bottom: 60px;
}
.courses-section .course-item {
  border: 1px solid #ebe4e4;
  width: 100%;
}
.courses-section .course-item img {
  width: 100%;
}
.courses-section .course-item .course-content {
  padding: 15px 15px;
}
.courses-section .course-item .course-content .value {
  display: flex;
  justify-content: space-between;
}
.courses-section .course-item .course-content .value .category {
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 5px;
  background-color: #5fcf80;
  color: #ffffff;
}
.courses-section .course-item .course-content .value .price {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #817e7e;
}
.courses-section .course-item .course-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #37423b;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.courses-section .course-item .course-content .description {
  font-size: 14px;
  margin-bottom: 16px;
  color: #979595;
}
.courses-section .course-item .course-content .trainer {
  padding-top: 5px;
  border-top: 1px solid #e7e4e4;
  font-size: 16px;
  display: flex;
}
.courses-section .course-item .course-content .trainer .trainer-profile {
  align-items: center;
  display: flex;
  font-size: 16px;
  color: #444444;
}
.courses-section .course-item .course-content .trainer .trainer-profile img {
  max-width: 20%;
  border-radius: 50px;
}
.courses-section
  .course-item
  .course-content
  .trainer
  .trainer-profile
  .trainer-link {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  color: #646262;
  text-decoration: none;
}
.courses-section
  .course-item
  .course-content
  .trainer
  .trainer-profile
  .trainer-link:hover {
  color: #5fcf80;
  transition: 0.3s;
}
.courses-section .course-item .course-content .trainer .trainer-rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: #b3afaf;
}
.courses-section .course-item .course-content .trainer .trainer-rank i {
  font-size: 15px;
  padding-left: 15px;
}
.courses-section .course-item .course-content .trainer .trainer-rank p {
  padding-top: 18px;
  padding-left: 8px;
}

/* Trainers Index Section  */

.trainers-index {
  padding: 60px 0;
  color: #bbb7b7;
  background-color: #ffffff;
}
.trainers-index .member {
  margin-bottom: 20px;
  border: 1px solid #ebe4e4;
  text-align: center;
  background-color: #ffffff;
}
.trainers-index .member img {
  margin: -1px -1px 30px -1px;
  width: 100%;
}
.trainers-index .member .member-content {
  padding: 0px 20px 30px 20px;
}
.trainers-index .member .member-content h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
  color: #37423b;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
.trainers-index .member .member-content span {
  font-size: 13px;
  display: block;
  font-style: italic;
  color: #585858;
}
.trainers-index .member .member-content p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #444444;
}
.trainers-index .member .member-content .social {
  color: #444444;
  font-size: 16px;
}
.trainers-index .member .member-content .social a {
  color: #a09f9f;
  transition: 0.3s;
}
.trainers-index .member .member-content .social i {
  font-size: 20px;
  margin: 0 2px;
}
.trainers-index .member .member-content .social a:hover {
  color: #5fcf80;
}

/* Footer Section  */

.footer {
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 5px;
  font-size: 14px;
  color: #727070;
  background-color: #f9f9f9;
}
.footer .sitename {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  color: #37423b;
}
.footer .footer-contact {
  padding-top: 1rem;
}
.footer .footer-contact p {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footer .footer-contact strong {
  color: #444444;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footer .footer-contact span {
  color: #817d7d;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.footer .footer-contact .mt-3 {
  margin-top: 1rem;
}
.footer .social-links {
  color: #444444;
  font-size: 14px;
  margin: 24px 0px 0px;
  display: flex;
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #9e9a9a;
  margin-right: 10px;
  color: #8d8383;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
}
.footer .social-links a:hover {
  color: #5fcf80;
  border-color: #72dd92;
}
.footer h4 {
  margin-bottom: 8px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #37423b;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li:first-child {
  padding-top: 0;
}
.footer ul li {
  padding: 10px;
  display: flex;
  align-items: center;
}
.footer ul a {
  text-decoration: none;
  line-height: 1;
  color: #857f7f;
}
.footer ul a:hover {
  color: #5fcf80;
  transition: 0.3s;
}
.footer .newsletter-form {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 6px 8px;
  position: relative;
  border: 1px solid #c9c2c2;
  border-radius: 50px;
  display: flex;
  background-color: #ffffff;
  transition: 0.3s;
}
.footer .newsletter-form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: 100%;
  background-color: #ffffff;
  color: #9e9c9c;
}
.footer .newsletter-form input[type="submit"] {
  border: 0;
  padding: 0px 20px 2px 20px;
  margin: -7px -8px -7px 0px;
  border-radius: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #5fcf80;
  transition: 0.3s;
}
.footer .copyright {
  padding: 25px 12px 25px 12px;
  color: #444444;
  font-size: 14px;
  background-color: #f0efef;
}
.footer .copyright .sitename1 {
  font-weight: 700;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.footer .copyright p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  color: #332c2c;
}
.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}
.footer .credits a {
  text-decoration: none;
  color: #5fcf80;
  transition: 0.3s;
  font-weight: 500;
}
.footer .credits a:hover {
  color: #83d89c;
}
